.container {
    display: flex;
    flex-direction: column;
  }

  .inline{
      display: inline-block;
      width: 100%;
  }
  .qtyError {
      color: red;
  }

  .productList {
      background-color: #c9d3db;
      padding: 3px;
      margin: 3px;
  }
  .example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  .spacer {
    flex: 1 1 auto;
  }