<h1 mat-dialog-title i18n="@@addIncomingShipment">Add Incoming Shipment</h1>
<form (keydown.enter)="$event.preventDefault()" [formGroup]="incomingShipmentForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <mat-form-field>
      <input matInput required type="text" i18n-placeholder="@@shipmentNo" placeholder="Shipment No"
        formControlName="shipmentNo">
      <mat-error *ngIf="incomingShipmentForm.get('shipmentNo').hasError('required')" i18n="@@shipmentNoRequired">
        Shipment No cannot be empty.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" i18n-placeholder="@@branch" placeholder="Branch" formControlName="branch">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" i18n-placeholder="@@vendor" placeholder="Vendor" formControlName="vendor">
    </mat-form-field>
    <mat-form-field>
      <input required matInput type="date" i18n-placeholder="@@orderDate" placeholder="Order Date" formControlName="orderDate">
      <mat-error *ngIf="incomingShipmentForm.get('orderDate').hasError('required')" i18n="@@orderDateRequired">
        Order Date cannot be empty.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input required matInput type="date" i18n-placeholder="@@desiredDeliveryDate" placeholder="Delivery Date"
        formControlName="desiredDeliveryDate">
      <mat-error *ngIf="incomingShipmentForm.get('desiredDeliveryDate').hasError('required')"
        i18n="@@desiredDeliveryDateRequired">
        Delivery Date cannot be empty.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="inline">
      <mat-label i18n="@@selectProduct">Select a product</mat-label>
      <mat-select required formControlName="productId">
        <input (keyup)="onKey($event.target.value)">
        <mat-option i18n="@@none"> None</mat-option>
        <mat-option value="{{product.productId}}" *ngFor="let product of products;">{{product.productName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="incomingShipmentForm.get('productId').hasError('required')" i18n="@@productRequired">
        Product cannot be empty.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="inline">
      <input required matInput type="number" min="1" i18n-placeholder="@@orderedQty" placeholder="Order QTY"
        formControlName="quantity">
      <mat-error *ngIf="incomingShipmentForm.get('quantity').hasError('required')" i18n="@@orderQtyRequired">
        Order QTY cannot be empty.
      </mat-error>
    </mat-form-field>
    <!-- <mat-form-field class="inline">
    <input matInput type="number" min="1" i18n-placeholder="@@price" placeholder="Price" [(ngModel)]="price"
      [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <mat-form-field class="inline">
    <mat-select [(value)]="currency">
      <mat-option se value="JPY">JPY</mat-option>
      <mat-option value="USD">USD</mat-option>
    </mat-select>
  </mat-form-field> -->
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()" i18n="@@cancel">Cancel</button>
    <button mat-button type="submit" [disabled]="!incomingShipmentForm.valid" i18n="@@ok">Ok</button>
  </div>
</form>