.products {
    margin: 5px;
    background: lightblue;
}
.productsRed {
    margin: 5px;
    background: rgb(206, 134, 134);
}
.productsDark {
    margin: 5px;
    background: #D32F2F;
    color: white;
    mat-panel-title {
        color: white;
    }
}

.scroll{
    overflow-y: scroll;
    overflow-x: hidden; 
}
h5 {
    margin-bottom: 2px;
    padding-bottom: 2px;
}
.bold {
    font-weight: bold;
}