<h1 mat-dialog-title i18n="@@confirmInput">Confirm input contents</h1>
<div class="container" mat-dialog-content>
    <table>
        <tr>
            <td i18n="@@productName">Product Name</td>
            <td>{{data.productName}}</td>
        </tr>
        <tr>
            <td i18n="@@description">Description</td>
            <td>{{data.description}}</td>
        </tr>
        <tr>
            <td i18n="@@price">Price</td>
            <td>{{data.price}}</td>
        </tr>
        <tr>
            <td i18n="@@currency">Currency</td>
            <td>{{data.currency}}</td>
        </tr>
        <tr>
            <td i18n="@@quantity">QTY</td>
            <td>{{data.quantity}}</td>
        </tr>
        <tr>
            <td i18n="@@leadTime">Lead Time</td>
            <td>{{data.leadTime}}</td>
        </tr>
        <tr>
            <td i18n="@@moq">MOQ</td>
            <td>{{data.moq}}</td>
        </tr>
        <tr>
            <td i18n="@@obicNo">Obic No</td>
            <td>{{data.obicNo}}</td>
        </tr>
        <tr>
            <td>Sort</td>
            <td>{{data.sort}}</td>
        </tr>
        <tr>
            <td>Color</td>
            <td [style.backgroundColor]="data.color"></td>
        </tr>

    </table>
    <p style="color: #FF0000;" i18n="@@doYouWantToContinue">Do you want to continue?</p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onCancelClick()" i18n="@@cancel">Cancel</button>
    <button mat-raised-button color="accent" (click)="onReturnClick()" i18n="@@return">Return</button>
    <button mat-raised-button color="primary" (click)="onOkClick()" i18n="@@ok">Ok</button>
</div>