<h1 mat-dialog-title i18n="@@addNewProductSet">Add new product set</h1>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="example-container">
  <div class="container" style="overflow-y: scroll; height:350px;">
    <mat-form-field>
      <input matInput type="text" i18n-placeholder="@@productSetName" placeholder="Product Set Name"
        formControlName="productName">
      <mat-error *ngIf="productForm.get('productName').hasError('required')" i18n="@@productSetNameRequired">Product Set Name
        cannot be empty.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" i18n-placeholder="@@description" placeholder="Description"
        formControlName="description">
      <mat-error *ngIf="productForm.get('description').hasError('required')" i18n="@@descriptionRequired">Description
        cannot be empty.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" min="1" i18n-placeholder="@@price" placeholder="Price" formControlName="price"
        class="inline">
      <mat-error *ngIf="productForm.get('price').hasError('required')" i18n="@@priceRequired">Price cannot be empty.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="inline">
      <mat-select formControlName="currency">
        <mat-option se value="JPY">JPY</mat-option>
        <mat-option value="USD">USD</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field>
      <input matInput type="number" i18n-placeholder="@@quantity"  placeholder="QTY" formControlName="quantity">
      <mat-error *ngIf="productForm.get('quantity').hasError('required')" i18n="@@qtyRequired">QTY cannot be empty.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" i18n-placeholder="@@leadTime"  placeholder="Lead Time" formControlName="leadTime">
      <mat-error *ngIf="productForm.get('leadTime').hasError('required')" i18n="@@leadTimeRequired">Lead Time cannot be empty.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" i18n-placeholder="@@moq"  placeholder="MOQ" formControlName="moq">
      <mat-error *ngIf="productForm.get('moq').hasError('required')" i18n="@@moqRequired">MOQ cannot be empty.</mat-error>
    </mat-form-field> -->
    <mat-form-field>
      <input matInput type="text" i18n-placeholder="@@obicNo" placeholder="Obic No" formControlName="obicNo">
      <mat-error *ngIf="productForm.get('obicNo').hasError('required')" i18n="@@obicNoRequired">Obic No cannot be empty.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" min="1" i18n-placeholder="@@sort" placeholder="Sort" formControlName="sort">
        <!-- <mat-error *ngIf="productForm.get('obicNo').hasError('required')" i18n="@@obicNoRequired">Obic No cannot be empty. -->
        <!-- </mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="color">
          <mat-option style="background-color: #ffffff;" value="#ffffff">DEFAULT</mat-option>
          <!-- <mat-option style="background-color: #ffcdd2;" value="#ef9a9a">RED</mat-option>
          <mat-option style="background-color: #f8bbd0;" value="#f48fb1">PINK</mat-option> -->
          <mat-option style="background-color: #e1bee7;" value="#f3e5f5">PURPLE</mat-option>
          <mat-option style="background-color: #d1c4e9;" value="#ede7f6">DEEP PURPLE</mat-option>
          <mat-option style="background-color: #c5cae9;" value="#e8eaf6">INDIGO</mat-option>
          <!-- <mat-option style="background-color: #e3f2fd;" value="#90caf9">BLUE</mat-option>
          <mat-option style="background-color: #e1f5fe;" value="#81d4fa">LIGHT BLUE</mat-option>
          <mat-option style="background-color: #80deea;" value="#80deea">CYAN</mat-option>
          <mat-option style="background-color: #80cbc4;" value="#80cbc4">TEAL</mat-option> -->
          <mat-option style="background-color: #c8e6c9;" value="#e8f5e9">GREEN</mat-option>
          <mat-option style="background-color: #dcedc8;" value="#f1f8e9">LIGHT GREEN</mat-option>
          <mat-option style="background-color: #f0f4c3;" value="#f9fbe7">LIME</mat-option>
          <mat-option style="background-color: #fff9c4;" value="#fffde7">YELLOW</mat-option>
          <mat-option style="background-color: #ffecb3;" value="#fff8e1">AMBER</mat-option>
          <mat-option style="background-color: #ffe0b2;" value="#fff3e0">ORANGE</mat-option>
          <mat-option style="background-color: #ffccbc;" value="#fbe9e7">DEEP ORANGE</mat-option>
          <mat-option style="background-color: #d7ccc8;" value="#efebe9">BROWN</mat-option>
          <mat-option style="background-color: #f5f5f5;" value="#fafafa">GRAY</mat-option>
          <mat-option style="background-color: #cfd8dc;" value="#eceff1">BLUE GRAY</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div style="overflow-y: scroll; height:100px;" *ngIf="viewSelectd.length > 0">
    <mat-card class="productList" *ngFor="let element of viewSelectd; let i = index">
      {{element.productName}} : {{element.quantity}}


      <button align="end" mat-stroked-button color="warn" type="button" (click)="removeComponent(i)"
        i18n="@@remove">Remove</button>

    </mat-card>
  </div>
  <mat-form-field class="inline">
    <mat-label i18n="@@selectProduct">Select a product</mat-label>
    <mat-select [(value)]="selected">
      <input (keyup)="onKey($event.target.value)">
      <mat-option i18n="@@none">None</mat-option>
      <mat-option value="{{i}}" *ngFor="let product of products; let i = index">{{product.productName}}</mat-option>

    </mat-select>
  </mat-form-field>
  <mat-form-field class="inline">
    <input matInput type="number" min="1" i18n-placeholder="@@amount" placeholder="Amount" [(ngModel)]="qty"
      [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <button mat-button type="button" [disabled]="!selected && !qty" (click)="addComponent()" i18n="@@add">Add</button>
  <br><span class="qtyError" *ngIf="qtyError" color="red" i18n="@@amountRequired">QTY cannot be empty</span>
 
    </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onCancelClick()" i18n="@@cancel">Cancel</button>
    <button mat-button type="submit" [disabled]="!productForm.valid" i18n-placeholder="@@ok">Ok</button>
  </div>
</form>