<h1 mat-dialog-title>Add new product set</h1>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="container" style="overflow-y: scroll; height:350px;" >
    <mat-form-field>
      <input matInput type="text" placeholder="Product Name" formControlName="productName">
      <mat-error *ngIf="productForm.get('productName').invalid">{{getErrorMessage('productName')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Description" formControlName="description">
      <mat-error *ngIf="productForm.get('description').invalid">{{getErrorMessage('description')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Price" formControlName="price">
      <mat-error *ngIf="productForm.get('price').invalid">{{getErrorMessage('price')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="QTY" formControlName="quantity">
      <mat-error *ngIf="productForm.get('quantity').invalid">{{getErrorMessage('quantity')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Lead Time" formControlName="leadTime">
      <mat-error *ngIf="productForm.get('leadTime').invalid">{{getErrorMessage('leadTime')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="MOQ" formControlName="moq">
      <mat-error *ngIf="productForm.get('moq').invalid">{{getErrorMessage('moq')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Obic No" formControlName="obicNo">
      <mat-error *ngIf="productForm.get('obicNo').invalid">{{getErrorMessage('obicNo')}}</mat-error>
    </mat-form-field>

  </div>
  <div style="overflow-y: scroll; height:100px;" *ngIf="viewSelectd.length > 0">
    <mat-card class="productList" *ngFor="let element of viewSelectd; let i = index">
      {{element.productName}} : {{element.quantity}}
      

      <button align="end" mat-stroked-button color="warn"  type="button" (click)="removeComponent(i)">Remove</button>

    </mat-card>
    </div>
    <mat-form-field class="inline">
      <mat-label>Select a product</mat-label>
      <mat-select [(value)]="selected">
        <mat-option>None</mat-option>
        <mat-option value="{{i}}" *ngFor="let product of products; let i = index">{{product.productName}}</mat-option>

      </mat-select>
    </mat-form-field>
    <mat-form-field class="inline">
      <input matInput type="number" placeholder="QTY" [(ngModel)]="qty" [ngModelOptions]="{standalone: true}">
      <mat-error>QTY cannot be empty</mat-error>
    </mat-form-field>
    <button mat-button type="button" [disabled]="!selected && !qty" (click)="addComponent()">Add</button>
    <br><span class="qtyError" *ngIf="qtyError" color="red">QTY cannot be empty</span>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button type="submit" [disabled]="!productForm.valid">Ok</button>
  </div>
</form>