<h1 mat-dialog-title i18n="@@addNewUser">Add new User</h1>
<form (keydown.enter)="$event.preventDefault()" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="example-container">
    <mat-form-field>
      <input matInput type="text" i18n-placeholder="@@firstName" placeholder="First Name"
        formControlName="firstName">
      <mat-error *ngIf="userForm.get('firstName').hasError('required')" i18n="@@firstNameRequired">First Name
        cannot be empty.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" i18n-placeholder="@@lastName" placeholder="Last Name"
          formControlName="lastName">
        <mat-error *ngIf="userForm.get('lastName').hasError('required')" i18n="@@lastNameRequired">Last Name
          cannot be empty.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" i18n-placeholder="@@lastName" placeholder="Email"
          formControlName="email">
        <mat-error *ngIf="userForm.get('email').hasError('required')" i18n="@@emailRequired">Email
          cannot be empty.</mat-error>
      </mat-form-field>
    <mat-form-field>
      <input matInput type="password" i18n-placeholder="@@password" placeholder="Password"
        formControlName="password">
      <mat-error *ngIf="userForm.get('password').hasError('required')" i18n="@@passwordRequired">Password
        cannot be empty.</mat-error>
    </mat-form-field>

    <mat-form-field class="inline">
      <mat-select formControlName="role">
        <mat-option value="2">USER</mat-option>
        <mat-option value="1">ADMIN</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()" i18n="@@cancel">Cancel</button>
    <button mat-button type="submit" [disabled]="!userForm.valid" i18n-placeholder="@@ok">Ok</button>
  </div>
</form>