.spacer {
    flex: 1 1 auto;
  }
  .username{
    font-size: small;
  }

  .icon{
    margin-right: 3px;

  }
  .iconSelected{
    margin-right: 3px;
    border: 1px solid #7c87e9; 
  }

  .logo {
    margin-left: -18px;
    margin-bottom: -8px;
    height: 40px;
  }