<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="tabClick($event)">
    <mat-tab i18n-label="@@all" label="All">
        <ng-template matTabContent>
            <app-delivery-schedule></app-delivery-schedule>

        </ng-template>
    </mat-tab>
    <mat-tab i18n-label="@@kittingBase" label="Kitting Base">
        <ng-template matTabContent>
            <app-kitting-schedule></app-kitting-schedule>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span *ngIf="shukkaCount==0" i18n-label="@@shukkaBase">Shukka Base</span>
            <span *ngIf="shukkaCount>0"  matBadge="{{shukkaCount}}" matBadgeOverlap="false" matBadgeColor="warn" i18n-label="@@shukkaBase">Shukka Base</span>
          </ng-template>
        <ng-template matTabContent>
            <app-shukka-schedule></app-shukka-schedule>
        </ng-template>
    </mat-tab>
    
</mat-tab-group>


