<h1 mat-dialog-title>Add new Order</h1>
<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        <div class="container" style="overflow-y: scroll; height:350px;" >
        <mat-form-field>
            <input matInput type="text" placeholder="Proposal Number" formControlName="proposalNo">
            <mat-error *ngIf="orderForm.get('proposalNo').invalid">{{getErrorMessage('proposalNo')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select a customer</mat-label>
            <mat-select formControlName="customerId">
                <mat-option>None</mat-option>
                <div *ngFor="let customer of customers">
                    <mat-option value="{{customer.customerId}}" *ngIf="customer.type=='Customer'">{{customer.customerName}}
                    </mat-option>
                </div>
            </mat-select>
            <mat-error *ngIf="orderForm.get('customerId').invalid">{{getErrorMessage('customerId')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select a Sales Destination</mat-label>
            <mat-select formControlName="salesDestinationId">
                <mat-option>None</mat-option>
                <div *ngFor="let customer of customers">
                    <mat-option value="{{customer.customerId}}" *ngIf="customer.type=='Sales Destination'">
                        {{customer.customerName}}</mat-option>
                </div>
            </mat-select>
            <mat-error *ngIf="orderForm.get('salesDestinationId').invalid">{{getErrorMessage('salesDestinationId')}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select a Contractor</mat-label>
            <mat-select formControlName="contractorId">
                <mat-option>None</mat-option>
                <div *ngFor="let customer of customers">
                    <mat-option value="{{customer.customerId}}" *ngIf="customer.type=='Contractor'">
                        {{customer.customerName}}</mat-option>
                </div>
            </mat-select>
            <mat-error *ngIf="orderForm.get('contractorId').invalid">{{getErrorMessage('contractorId')}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="date" placeholder="Recieved Date" formControlName="recievedDate">
            <mat-error *ngIf="orderForm.get('recievedDate').invalid">{{getErrorMessage('recievedDate')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
                <input matInput type="date" placeholder="Due Date" formControlName="dueDate">
                <mat-error *ngIf="orderForm.get('dueDate').invalid">{{getErrorMessage('dueDate')}}</mat-error>
            </mat-form-field>
        <mat-form-field>
            <mat-label>Select a Sales User</mat-label>
            <mat-select formControlName="salesUserId">
                <mat-option>None</mat-option>
                    <mat-option value="1" >John Doe</mat-option>
                    <mat-option value="2" >Sample User</mat-option>
            </mat-select>
            <mat-error *ngIf="orderForm.get('salesUserId').invalid">{{getErrorMessage('salesUserId')}}
            </mat-error>
        </mat-form-field>
    </div>
    <div style="overflow-y: scroll; height:100px;" *ngIf="viewSelectd.length > 0">
            <mat-card class="productList" *ngFor="let element of viewSelectd; let i = index">
              {{element.productName}} : {{element.quantity}}
              
        
              <button align="end" mat-stroked-button color="warn"  type="button" (click)="removeComponent(i)">Remove</button>
        
            </mat-card>
            </div>
            <mat-form-field class="inline">
              <mat-label>Select a product</mat-label>
              <mat-select [(value)]="selected">
               
                <mat-option>None</mat-option>
                <mat-option value="{{i}}" *ngFor="let product of products; let i = index">{{product.productName}}</mat-option>
                <mat-option value="{{i}}" *ngFor="let product of productSets; let i = index">{{product.productName}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="inline">
              <input matInput type="number" placeholder="QTY" [(ngModel)]="qty" [ngModelOptions]="{standalone: true}">
              <mat-error>QTY cannot be empty</mat-error>
            </mat-form-field>
            <button mat-button type="button" [disabled]="!selected && !qty" (click)="addComponent()">Add</button>
            <br><span class="qtyError" *ngIf="qtyError" color="red">QTY cannot be empty</span>

    <div mat-dialog-actions>
        <button mat-button (click)="onCancelClick()">Cancel</button>
        <button mat-button type="submit" [disabled]="!orderForm.valid">Ok</button>
    </div>
</form>