<h1 mat-dialog-title>Update product</h1>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
<div mat-dialog-content class="example-container">
  <mat-form-field>
    <input matInput type="text" placeholder="Product Name" formControlName="productName">
    <mat-error *ngIf="productForm.get('productName').invalid">{{getErrorMessage('productName')}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Description" formControlName="description">
    <mat-error *ngIf="productForm.get('description').invalid">{{getErrorMessage('description')}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Price" formControlName="price">
    <mat-error *ngIf="productForm.get('price').invalid">{{getErrorMessage('price')}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="QTY" formControlName="quantity">
    <mat-error *ngIf="productForm.get('quantity').invalid">{{getErrorMessage('quantity')}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Lead Time" formControlName="leadTime">
    <mat-error *ngIf="productForm.get('leadTime').invalid">{{getErrorMessage('leadTime')}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="MOQ" formControlName="moq">
    <mat-error *ngIf="productForm.get('moq').invalid">{{getErrorMessage('moq')}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Obic No" formControlName="obicNo">
    <mat-error *ngIf="productForm.get('obicNo').invalid">{{getErrorMessage('obicNo')}}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button type="submit" [disabled]="!productForm.valid" >Ok</button>
  
</div>
</form>

