mat-card{
    margin: 5;
}
table th, td {
  vertical-align: center !important;
  text-align: center !important;
  justify-content:center !important;
  border-right: 1px solid rgba(0,0,0,.12);
  padding: 5px;
}
.right-button{
    text-align: right;
}
table{
  width: 100%;
}
.spacer {
    flex: 1 1 auto;
  }
  .rowButton {
    display: flex;

    justify-content: flex-end;

  }
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: #c8e6c9;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #a4dda6;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
    flex-flow: wrap;
  }
  

  .productComponent {
      width: 200px;

      border: 2px solid #64b5f6; 
      display: inline-block;
      margin-right: 5px;
  }

  .yellow{
    background-color: gold;
  }
  .sort{
    display: flex;
    justify-content: space-between;
  }
  span:nth-of-type(2) {
    margin-left: auto;
  }

  .top-button-section{
    display: flex;
    justify-content: space-between;
    button:nth-of-type(2) {
      margin-left: auto;
    }
  }
  .mat-column-actions {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 300px !important;
    width: 300px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }