<h1 mat-dialog-title i18n="@@addNewCustomer">Add new customer</h1>
<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
<div mat-dialog-content class="example-container">
  <mat-form-field>
    <input matInput type="text" #cnbox (keyup.enter)="hankana2Zenkana(cnbox.value,'customerName')" (blur)="hankana2Zenkana(cnbox.value,'customerName')" i18n-placeholder="@@customerName" placeholder="Customer Name" formControlName="customerName">
    <mat-error *ngIf="customerForm.get('customerName').hasError('required') " i18n="@@customerNameRequired">Customer Name is required.</mat-error>
    <mat-error *ngIf="customerForm.get('customerName').hasError('pattern') " i18n="@@invalidCharacters">Invalid Characters.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput (keypress)="validateZip($event)" type="text" maxlength="8" i18n-placeholder="@@zipCode" placeholder="ZIP" formControlName="zip">
    <mat-error *ngIf="customerForm.get('zip').invalid" i18n="@@maxLength8">Max length should be 8.</mat-error>
    <mat-error *ngIf="customerForm.get('zip').hasError('pattern') " i18n="@@invalidPostal">Invalid Characters.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" #addressbox (keyup.enter)="hankana2Zenkana(addressbox.value,'address')" (blur)="hankana2Zenkana(addressbox.value,'address')" i18n-placeholder="@@address" placeholder="Address" formControlName="address">
    <mat-error *ngIf="customerForm.get('address').hasError('pattern') " i18n="@@invalidCharacters">Invalid Characters.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput (keypress)="numberOnly($event)" type="text" maxlength="20" i18n-placeholder="@@tel" placeholder="Tel" formControlName="tel">
    <mat-error *ngIf="customerForm.get('tel').hasError('pattern') " i18n="@@invalidTP">Invalid Characters.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text"  #cnamebox (keyup.enter)="hankana2Zenkana(cnamebox.value,'contactName')" (blur)="hankana2Zenkana(cnamebox.value,'contactName')" placeholder="Contact Name" i18n-placeholder="@@contactName" formControlName="contactName">
    <mat-error *ngIf="customerForm.get('contactName').hasError('pattern') " i18n="@@invalidCharacters">Invalid Characters.</mat-error>
    <mat-error *ngIf="customerForm.get('contactName').hasError('required') " i18n="@@contactNameRequired">Contact Name is Required.</mat-error>
  </mat-form-field>
  <mat-form-field >
    <mat-label i18n="@@selectAType">Select a Type</mat-label>
    <mat-select formControlName="type">
      <mat-option i18n="@@none">None</mat-option>
      <mat-option value="Customer" i18n="@@customer">Customer</mat-option>
      <mat-option value="Sales Destination" i18n="@@salesDestination">Sales Destination</mat-option>
      <mat-option value="Contractor" i18n="@@contractor">Contractor</mat-option>
    </mat-select>
    <mat-error *ngIf="customerForm.get('contactName').hasError('required') " i18n="@@typeRequired">Contact Name is Required.</mat-error>
  </mat-form-field>
 
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()" i18n="@@cancel">Cancel</button>
  <button mat-button type="submit" [disabled]="!customerForm.valid" i18n="@@ok">Ok</button>
</div>
</form>

