<div class="container">
<mat-card>
        <mat-card-title>Login</mat-card-title>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card-content  class="loginForm">
            <mat-form-field>
                <input matInput type="email" placeholder="Email" formControlName="email">
                <mat-error *ngIf="loginForm.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
                <mat-error *ngIf="loginForm.get('password').invalid">{{getErrorMessage('password')}}</mat-error>
            </mat-form-field>
            <mat-error *ngIf="loginError">{{loginError}}</mat-error>
            <div class="row" *ngIf="progress">
                <mat-spinner diameter="25" color="white"></mat-spinner>
            </div>
        </mat-card-content>
        <mat-card-actions class="actions">
            <button type="submit" mat-raised-button color="primary">Login
            </button>
            
        </mat-card-actions>
    </form>
</mat-card>
</div>