mat-card{
    margin: 5;
}
table {
    width: 100%;
  }
.right-button{
    text-align: right;
}
.spacer {
    flex: 1 1 auto;
  }
.rowButton {
    display: flex;

    justify-content: flex-end;
}

.spinner {
  display: flex;
  margin: 0;
  top: -4px;
  justify-content: flex-end;
}

th.mat-sort-header-sorted {
  color: black;
}

tr.element-row:not(.expanded-row):hover {
  background: #c8e6c9;
}

tr.element-row:not(.expanded-row):active {
  background: #a4dda6;
}
.mat-column-description 
{

  min-width: 200px !important;
  max-width: 500px !important;
}
.topButton {
  margin: 5px;
}