mat-card{
    margin: 5;
}
table {
    width: 100%;
  }
.right-button{
    text-align: right;
}
.spacer {
    flex: 1 1 auto;
  }
.rowButton {
    display: flex;

    justify-content: flex-end;
}

.spinner {
  display: flex;
  margin: 0;
  top: -4px;
  justify-content: flex-end;
}

