<mat-progress-bar mode="indeterminate" *ngIf="progress"></mat-progress-bar>
<mat-card>

    <div class="row">

        <button mat-raised-button color="primary" (click)="openDialog()" i18n="@@add">Add</button>
    </div>

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" i18n-placeholder="@@filter" placeholder="Filter">
    </mat-form-field>
    <mat-paginator #paginatorTop (page)="onTopPaginateChange()" [pageSizeOptions]="[5, 10, 20, 50]"
        showFirstLastButtons></mat-paginator>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef i18n="@@productName" mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef i18n="@@description" mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef i18n="@@price" mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let element">{{util.getCurrencySign(element.currency)}} {{element.price}} </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef i18n="@@quantity" mat-sort-header> Current QTY </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>
        <ng-container matColumnDef="leadTime">
            <th mat-header-cell *matHeaderCellDef i18n="@@leadTime" mat-sort-header> Lead Time </th>
            <td mat-cell *matCellDef="let element"> {{element.leadTime}}w </td>
        </ng-container>
        <ng-container matColumnDef="moq">
            <th mat-header-cell *matHeaderCellDef i18n="@@moq" mat-sort-header> MOQ </th>
            <td mat-cell *matCellDef="let element"> {{element.moq}} </td>
        </ng-container>
        <ng-container matColumnDef="obicNo">
            <th mat-header-cell *matHeaderCellDef i18n="@@obicNo" mat-sort-header> Obic No </th>
            <td mat-cell *matCellDef="let element"> {{element.obicNo}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element;">
                <button mat-button color="primary" (click)="editProduct(element)" i18n="@@edit">Edit</button>
                <button mat-button color="warn" (click)="deleteProduct(element)" i18n="@@delete">Delete</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editProduct(row)" class="element-row">
        </tr>

    </table>
</mat-card>
<mat-paginator #paginatorBottom (page)="onBottomPaginateChange($event)" [pageSizeOptions]="[5, 10, 20, 50]"
    showFirstLastButtons></mat-paginator>