<mat-tab-group>
    <mat-tab i18n-label="@@customers" label="Customers">
      <ng-template matTabContent>
    </ng-template>
</mat-tab>
</mat-tab-group>        
        <mat-progress-bar mode="indeterminate" *ngIf="progress"></mat-progress-bar>
        <mat-card>
            <button mat-raised-button color="primary" (click)="openDialog()" i18n="@@add">Add</button><br><br>
            <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" i18n-placeholder="@@filter" placeholder="Filter">
            </mat-form-field>
            <mat-paginator #paginatorTop (page)="onTopPaginateChange()" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                <ng-container matColumnDef="customerName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@customerName"> Name </th>
                    <td mat-cell *matCellDef="let element" (click)="editCustomer(element)" class="pointer"> {{element.customerName}} </td>
                </ng-container>
                <ng-container matColumnDef="zip">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@zipCode"> ZIP Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.zip}} </td>
                </ng-container>
                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@address"> Address </th>
                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                </ng-container>
                <ng-container matColumnDef="tel">
                    <th mat-header-cell *matHeaderCellDef i18n="@@tel"> Tel </th>
                    <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
                </ng-container>
                <ng-container matColumnDef="contactName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@contactName"> Contact Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.contactName}} </td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@type"> Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>
                <ng-container matColumnDef="actions" >
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element;" >
                        <button mat-button color="primary" (click)="editCustomer(element)" i18n="@@edit">Edit</button>
                        <button mat-button color="warn" (click)="deleteCustomer(element)" i18n="@@delete">Delete</button>
                    </td>
                </ng-container>
        
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                 class="element-row"></tr>
                
            </table>
            
        </mat-card>
        <mat-paginator #paginatorBottom (page)="onBottomPaginateChange($event)" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>

