mat-card{
    margin: 5;
}
table {
    width: 100%;
  }
.right-button{
    text-align: right;
}
.spacer {
    flex: 1 1 auto;
  }
  .rowButton {
    display: flex;

    justify-content: flex-end;

  }
  th.mat-sort-header-sorted {
    color: black;
  }