mat-card{
    margin: 5;
}
table {
    width: 100%;
  }
.right-button{
    text-align: right;
}
.spacer {
    flex: 1 1 auto;
  }
  .rowButton {
    display: flex;

    justify-content: flex-end;

  }
  th.mat-sort-header-sorted {
    color: black;
  }

  tr.element-row:not(.expanded-row):hover {
    background: #c8e6c9;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #a4dda6;
  }