<h3>Features that have implemented until 2019/12/2 17:28 </h3>
<p class="red">If you want to see the progress bar slow down the nework.</p><br>
<p><b>With API</b></p><br>
<p>Login / Logout / Navbar behavior</p>

<br>
<p>View Products</p>
<p>Filter Products</p>
<p>Add Product</p>
<p>View Products</p>
<p>Edit Product</p>
<p>Delete Product</p>
<p>Products progress bar</p>

<br>
<p>View Product Sets</p>
<p>Filter Product sets</p>
<p>Product Sets progress bar</p>
<p>Add Product Sets</p>
<p>Edit Product Sets</p>
<p>Delete Product Sets</p>
<p class="red">Deleted Components in a Product Set will show with a red border</p>

<br>
<p>View Customers</p>
<p>Filter Customers</p>
<p>Edit Customers</p>
<p>Delete Customers</p>
<!-- Without API -->
<br>
<p><b>Without API</b></p><br>

<p>View Oders</p>
<p>Filter Orders</p>
<p>Add Orders</p>
<p>Edit Orderings (90%)</p>
<p>Delete Orders</p>

<br>
<p>View Incoming Shipments</p>
<p>Filter Incoming Shipments</p>




