<section class="top-button-section">
  <button mat-raised-button color="primary" (click)="addOrderSummery()">
    +
  </button>
  <!-- <mat-menu #menuAdd="matMenu">
        <button mat-menu-item (click)="addOrderSummery()">
            <mat-icon>timeline</mat-icon>
            <span>Order Summery</span>
        </button>
    </mat-menu> -->
  <button mat-raised (click)="refresh()">
    <mat-icon aria-hidden="false">loop</mat-icon>
  </button>


</section>
<div class="example-container" cols="4">
  <div class="example-box" *ngFor="let widget of widgetData; let i = index">
    <mat-card *ngIf="widget.type==0" class="order-summery-card ">
      <mat-card-header>
        <mat-card-title>{{widget.title}}</mat-card-title>
        <mat-card-subtitle>{{widget.data.productName}}</mat-card-subtitle>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)=deleteWidget(i)>
            <mat-icon>delete</mat-icon>
            <span>Remove</span>
          </button>
        </mat-menu>
      </mat-card-header>
      <mat-card-content>
        <table style="width: 100%; margin-bottom: 3px;" class="mat-elevation-z8">
          <tr>
            <td i18n="@@incomingQuantitySummary">Incoming Quantity</td>
            <td>{{widget.data.totalIncomingQty}}</td>
          </tr>
          <tr>
            <td i18n="@@outgoingQuantitySummary">OutGoing Quantity</td>
            <td>{{widget.data.totalOutgoingQty}}</td>
          </tr>
        </table>
      </mat-card-content>
      <mat-card-footer></mat-card-footer>
    </mat-card>

  </div>

</div>


<div class="example-container" cols="6">
  <div class="example-box" *ngFor="let widget of widgetSetData; let i = index">
    <mat-card *ngIf="widget.type==1" class="dashboard-card">
        <mat-card-header>
          <mat-card-title>{{widget.title}}</mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="set-icon">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)=deleteWidget(i)>
              <mat-icon>delete</mat-icon>
              <span>Remove</span>
            </button>
          </mat-menu>
        </mat-card-header>
        <div class="set-container" >
          <mat-card-header>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <table style="width: 100%; margin-bottom: 3px;" class="mat-elevation-z8">
              <tr >
                <td  [attr.rowspan]="(widget.data.product.length + 1)"> <b>{{widget.data.productName}}</b>
                  <tr>
                    <td i18n="@@outgoingQuantitySummary">OutGoing Quantity</td>
                    <td>{{widget.data.totalOutgoingQty}}</td>
                  </tr>
                </td>
              </tr>
              <tr  *ngFor="let widgetProduct of widget.data.product; let j = index">
                <td style="border: solid #000 1px"><b>{{widgetProduct.productName}}</b>
                  <tr>
                <td i18n="@@incomingQuantitySummary">Incoming Quantity</td>
                <td>{{widgetProduct.totalIncomingQty}}</td>
                  </tr>
                <tr>
                <td i18n="@@outgoingQuantitySummary">OutGoing Quantity</td>
                <td>{{widgetProduct.totalOutgoingQty}}</td>
              </tr>
              </td>
              </tr>
            </table>
          </mat-card-content>
          <mat-card-footer></mat-card-footer>
      </div>
    </mat-card>

  </div>

</div>




<mat-card class="warningCard" *ngIf="browser=='ie' || browser=='edge'">
  <h4>「{{browser}}」を使用している場合、一部の機能は正常に動作しません。</h4>
  <h3>「Google Chrome」または「Firefox」ブラウザを使用して最高の体験をしてください。</h3>
</mat-card>
