<h1 mat-dialog-title >Export Product Inventory</h1>
<mat-dialog-content>
    <mat-form-field>
        <input matInput type="date" placeholder="Select Date"
        [(ngModel)]="date">
        <mat-error *ngIf="dateError">Date is required.</mat-error>
      </mat-form-field>
</mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onCancelClick()" i18n="@@cancel">Cancel</button>
    <button mat-button type="button" (click)="submit()" [disabled]="!date" i18n-placeholder="@@ok">Ok</button>
  </div>