<mat-list role="list">
    <mat-list-item role="listitem">
        <button mat-button routerLink="/products" i18n="@@products">Products</button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-button routerLink="/customers" i18n="@@customers">Customers</button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-button routerLink="/orders" i18n="@@orders">Orders</button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-button routerLink="/shipments" i18n="@@shipments">Shipments</button>
    </mat-list-item>
</mat-list>