<h1 mat-dialog-title i18n="@@addNewProduct">Add new product</h1>
<form (keydown.enter)="$event.preventDefault()" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="example-container">
    <mat-form-field>
      <input matInput type="text" i18n-placeholder="@@productName" placeholder="Product Name"
        formControlName="productName">
      <mat-error *ngIf="productForm.get('productName').hasError('required')" i18n="@@productNameRequired">Product Name
        cannot be empty.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" i18n-placeholder="@@description" placeholder="Description"
        formControlName="description">
      <mat-error *ngIf="productForm.get('description').hasError('required')" i18n="@@descriptionRequired">Description
        cannot be empty.</mat-error>
    </mat-form-field>
    <mat-form-field class="inline">
      <input matInput type="number" min="1" i18n-placeholder="@@price" placeholder="Price" formControlName="price">
      <mat-error *ngIf="productForm.get('price').hasError('required')" i18n="@@priceRequired">Price cannot be empty.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="inline">
      <mat-select formControlName="currency">
        <mat-option se value="JPY">JPY</mat-option>
        <mat-option value="USD">USD</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" min="1" i18n-placeholder="@@quantity" placeholder="QTY" formControlName="quantity">
      <mat-error *ngIf="productForm.get('quantity').hasError('required')" i18n="@@qtyRequired">QTY cannot be empty.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" min="1" i18n-placeholder="@@leadTime" placeholder="Lead Time (w)"
        formControlName="leadTime">
      <mat-error *ngIf="productForm.get('leadTime').hasError('required')" i18n="@@leadTimeRequired">Lead Time cannot be
        empty.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" min="1" i18n-placeholder="@@moq" placeholder="MOQ" formControlName="moq">
      <mat-error *ngIf="productForm.get('moq').hasError('required')" i18n="@@moqRequired">MOQ cannot be empty.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" i18n-placeholder="@@obicNo" placeholder="Obic No" formControlName="obicNo">
      <mat-error *ngIf="productForm.get('obicNo').hasError('required')" i18n="@@obicNoRequired">Obic No cannot be empty.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" min="1" i18n-placeholder="@@sort" placeholder="Sort" formControlName="sort">
      <!-- <mat-error *ngIf="productForm.get('obicNo').hasError('required')" i18n="@@obicNoRequired">Obic No cannot be empty. -->
      <!-- </mat-error> -->
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n="@@selectColor">Select a color</mat-label>
      <mat-select formControlName="color">
        <mat-option style="background-color: #ffffff;" value="#ffffff">DEFAULT</mat-option>
        <mat-option style="background-color: #ef9a9a;" value="#ef9a9a">RED</mat-option>
        <mat-option style="background-color: #f48fb1;" value="#f48fb1">PINK</mat-option>
        <mat-option style="background-color: #ce93d8;" value="#ce93d8">PURPLE</mat-option>
        <mat-option style="background-color: #b39ddb;" value="#b39ddb">DEEP PURPLE</mat-option>
        <mat-option style="background-color: #9fa8da;" value="#9fa8da">INDIGO</mat-option>
        <mat-option style="background-color: #90caf9;" value="#90caf9">BLUE</mat-option>
        <mat-option style="background-color: #81d4fa;" value="#81d4fa">LIGHT BLUE</mat-option>
        <mat-option style="background-color: #80deea;" value="#80deea">CYAN</mat-option>
        <mat-option style="background-color: #80cbc4;" value="#80cbc4">TEAL</mat-option>
        <mat-option style="background-color: #a5d6a7;" value="#a5d6a7">GREEN</mat-option>
        <mat-option style="background-color: #c5e1a5;" value="#c5e1a5">LIGHT GREEN</mat-option>
        <mat-option style="background-color: #e6ee9c;" value="#e6ee9c">LIME</mat-option>
        <mat-option style="background-color: #fff59d;" value="#fff59d">YELLOW</mat-option>
        <mat-option style="background-color: #ffe082;" value="#ffe082">AMBER</mat-option>
        <mat-option style="background-color: #ffcc80;" value="#ffcc80">ORANGE</mat-option>
        <mat-option style="background-color: #ffab91;" value="#ffab91">DEEP ORANGE</mat-option>
        <mat-option style="background-color: #bcaaa4;" value="#bcaaa4">BROWN</mat-option>
        <mat-option style="background-color: #eeeeee;" value="#eeeeee">GRAY</mat-option>
        <mat-option style="background-color: #b0bec5;" value="#b0bec5">BLUE GRAY</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()" i18n="@@cancel">Cancel</button>
    <button mat-button type="submit" [disabled]="!productForm.valid" i18n-placeholder="@@ok">Ok</button>
  </div>
</form>