/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fullfillBtn{
    background-color: #4CAF50;
}

mat-paginator.mat-paginator {
    display: flex;
    justify-content: left;
  } 

.tablebtn{
    padding: 2px; 
    margin: 2px;
}
.pointer {
    cursor: pointer;
}