mat-card{
    margin: 5;
}
table {
    width: 100%;
  }
.right-button{
    text-align: right;
}
.spacer {
    flex: 1 1 auto;
  }
  .rowButton {
    display: flex;

    justify-content: flex-end;

  }
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #c8e6c9;
  }
  
  // tr.example-element-row:not(.example-expanded-row):active {
  //   background: #efefef;
  // }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  

  .productComponent {
      width: 200px;
      background: #64b5f6;
      display: inline-block;
      margin-right: 5px;
  }
